:root {
  --cor-primary: #006f23;
  --cor-primary: #b2ddac;
  --cor-primary: #556a52;
  --cor-primary: #8dcb66;
  --cor-primary: #ffc600;
}

#hero .carousel-item::before {
  background-color: unset;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background-color: #ffc600;
  border: 2px solid #ffc600;
  color: #006f23;
  font-weight: 700;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #ffc600;
  color: #006f23;
}
.navbar a,
.navbar a:focus {
  color: #fff;
  text-transform: uppercase;
}
.navbar .dropdown ul a {
  color: #006f23;
}

#header {
  background: #006f23;
}
